.add-item-container {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    background-color: antiquewhite;



}

.add-item-form input {
    margin: 10px 0px;
    display: block;

}